{% extends "base.html"%} 
{% block content %}


<!--SEMANTIC UI CDN-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to AWWARDS </h3>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"> {{ post.title }}</h2>
                
                    <img src= " {{ post.image.url }}" style="height:357px; width: 616px;">
                    <p class="card-text text-muted h6">Posted By: {{ post.author }} | Published on:{{ post.created_on}} </p>

                    <p> 


                        Rating: {{ post.rating }}
                    
                    </p>

                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="ui secondary basic button">Read More &rarr;</a>
                   

                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                          <i class="heart icon"></i> Rating
                        </div>
                        <a class="ui basic red left pointing label">
                         {{ post.rating }}
                        </a>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}